<!DOCTYPE html>
<html>
<head>
    <title>Мой сайт с питомцами</title>
</head>
<body>
    <nav>
        <a href="{% url 'signup' %}">Регистрация</a> |
        {% if user.is_authenticated %}
            <a href="{% url 'profile_detail' user.pk %}">Мой профиль</a> |
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}<button type="submit">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>